#box1 {
  text-align: right;
  background-color: #202020;
  color: white;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.pb {
  width: 90px;
  height: 100px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;

}

#box2 {
  background-color: #CCCC00;
  color: black;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

#box3 {
background-color: #202020;
color: white;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
}

#box4 {
background-color: #CCCC00;
color: black;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
}

#box5 {
background-color: #202020;
color: white;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
}

#box6 {
background-color: #CCCC00;
color: black;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
}

#box7 {
background-color: #202020;
color: white;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
}
