body {
  margin: 0;
}

#box1 {
  text-align: right;
  background-color: #202020;
  color: white;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.pb {
  width: 110px;
  height: 110px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;

}

#box2 {
  background-color: #f5c71a;
  color: black;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0px;
  font-size: 25px;
}

#box3 {
background-color: #252525;
color: white;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
}

#box4 {
background-color: #eed202;
color: black;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
}

#box5 {
background-color: #303030;
color: white;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
}

#box6 {
background-color: #eee600;
color: black;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
}

#box7 {
background-color: #353535;
color: white;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
}

#box8 {
background-color: #eee600;
color: black;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
}

#box9 {
background-color: #404040;
color: white;
padding-top: 10px;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 10px;
}
