body {
  color:white;
  margin:0px;
  font-size: 30px;
}
img {
    width:50px;
    height:50px;
    padding-top: 15px;
    padding-left: 10px;
    vertical-align:middle;
    float:left;
}
div {
  height: 87.88px;
}
a {
  text-decoration: none;
  color: inherit;
  text-align:right;
}
.ltext {
  margin-top: 200px;

  padding-left: 10px;
}
.rtext {
  float:right;
  padding-top:25px;
  padding-right: 10px;
}
.menu_box {
  border-bottom: solid 3px;
  border-bottom-color: yellow;
}
.frontpage_box {
  border-bottom: solid 3px;
  border-bottom-color: yellow;
}
.accounts_box {
  border-bottom: solid 3px;
  border-bottom-color: yellow;
}
.activities_box {
  border-bottom: solid 3px;
  border-bottom-color: yellow;
}
.tasks_box {
  border-bottom: solid 3px;
  border-bottom-color: yellow;
}
.groups_box {
  border-bottom: solid 3px;
  border-bottom-color: yellow;
}
.events_box {
  border-bottom: solid 3px;
  border-bottom-color: yellow;
}
.settings_box {
  border-bottom: solid 3px;
  border-bottom-color: yellow;
}
.signout_box {
  border-bottom: solid 3px;
  border-bottom-color: yellow;
}
.menu_pic {
  float:right;
  padding-right:20px;
}
